@import "../../../styles/mixins";

.topbar_news {
  background: #752fb7;
  padding: 5px 40px 5px 28px;
  position: sticky;
  top: 0;
  z-index: 9891;
  display: flex;
  align-items: center;
  justify-content: center;
  *:not(.btn) {
    color: #fff;
  }

  @include desktop{
    padding: 15px 40px 15px 20px;
    p{
      font-size: 12px;
    }
  }
  &.success {
    background-color: #60a736;
  }
  &.danger {
    background-color: #e04670;
  }
  &.warning {
    background-color: #f0e54d;
    *:not(.btn) {
      color: #000;
    }
  }

  .btn_primary {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    border: none;
    font-size: 12px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.4) !important;
    }
  }

  .topbar_close {
    padding: 0px 12px;
    height: 100%;
    position: absolute;
    right: 2px;
    background-color: transparent;
    border: 0;
    font-size: 26px;
  }

  @include tablet {
    strong:first-child {
      display: block;
    }
  }
}
