// Color Variables
$white: #fff;
$light: #f7f7f7;
$light-200: #f8f9fa;
$primary-color: #72bf44;
$secondary-color: #5B2192;
$purple: #8a6caf;
$black: #000;
$black: #000;
$dark: #343a40;
$dark-200: #2d2436;
$dark-300: #495057;
$gray: #f9f7ff;
$text-color: #757575;
$text-color-secondary: $secondary-color;
$text-color-dark: #212121;
$text-color-light: #acacac;
$border-color: #d3d3d3;
$body-color: #f5f6f9;
$error-color: #ff5656;
$danger: #dc3545;
$success: #008000;
$warning: #ffa500;
$footer-bg: #1B2330;

$primary-gradient: linear-gradient( 55deg, rgb(91,33,146) 0%, rgb(164,70,253) 99%);

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';

